.btn {
  border: 1px solid var(--numaric);
  height: 35px;
  border-radius: 9px;
  padding: 9px 18px;
  background-color: var(--white);
  color: var(--background);
  font-size: 12px;
  font-weight: 600;
  transition: var(--transition);
}
.btn:hover {
  height: 37px;
  background-color: var(--numaric);
  color: var(--white);
}
.btn.numaric {
  background-color: var(--numaric);
}
