h1 {
  font-size: 90px;
  font-weight: 800;
}
h2 {
  font-size: 60px;
  font-weight: 500;
}
h3 {
  font-size: 50px;
  font-weight: 400;
}
h4 {
  font-size: 40px;
  font-weight: 300;
}
h5 {
  font-size: 30px;
  font-weight: 200;
}
h6 {
  font-size: 20px;
  font-weight: 100;
}
p {
  font-size: 20px;
  font-weight: 400;
}
p.lg {
  font-size: 24px;
}
p.sm {
  font-size: 16px;
}
